{% extends "store/base.html" %}
{% load static sass_tags %}
{% block title %}Homepage{% endblock title %}
{% block extra_head %}
    <!-- Extra head tags  -->
    <link rel="stylesheet" href="{% sass_src 'store/styles/homepage.scss' %}">
{% endblock extra_head %}
{% block body %}
    <!-- Wrapper content -->
    {% include "store/header.html" %}
    <main class="content">
    </main> 
    {% include "store/footer.html" %}    
    {{request.user.is_authenticated|json_script:'authenticated'}}
    <script type="module" src="{% static 'store/scripts/homepage.js' %}"></script>
{% endblock body %}
