{% extends 'accounts/base.html' %}
{% load static sass_tags %}
{% block title %}Change Password{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% sass_src 'accounts/styles/change_password.scss' %}">
{% endblock head %}
{% block body %}
    <div class="wrapper column">
        <main class="case-form column flex-center">
            <h1 class="form-header">Change Password</h1>
            <form class="form form_login column flex-center" id="change_password-form" action="{% url 'accounts:change_password' %}" method="POST">
                {% csrf_token %}
                <input class="input_password" type="password" placeholder="Old password" name="password_old" 
                pattern="[a-zA-Z0-9_+&.,-]{8,50}" />
                <input class="input_password" type="text" placeholder="New password" name="password_new" />
                <input class="pushable pointer" type="submit" value="Change Password" name="register" pattern="[A-Za-z0-9._+-]+@[A-Za-z0-9 -]+\.a-z{2-6}" />
            </form>
        </main>
    </div>
{% endblock body %}