@import "multipurpose.scss";

.options {
    max-width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(68);
    padding: clamp(0px, 7.5%, 86px);
    margin-inline: auto;
}
.option {
    aspect-ratio: 4/1.75;
    width: clamp(140px, 100%, 220px);

    &:last-of-type {
        justify-self: flex-start;
    }

    &__container {
        --border-color: #000;
        --background-color: var(--main-color);

        font-size: inherit;
        background: none;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;

        span {
            z-index: 2;
        }

        .corner-border, .side-border {
            pointer-events: none;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .corner-border {
            transition: all 0.25s opacity 0;
            &::before, &::after {
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid var(--border-color);
            }
            &::before {
                border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%;
                border-color: var(--main-color);
                z-index: 1;
            }
        }
        .side-border {
            transition: all 0.25s;
            opacity: 0;
            background: var(--background-color);

            &::after, &::before {
                transition: all 0.25s;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                border: 1px solid var(--border-color);
                translate: -50% -50%;
                z-index: 1;
            }
            &::after {
                transition-delay: 0.12s;
                border-top: none;
                border-bottom: none;
                height: 100%;
                width: 125%;
            }
            &::before {
                transition-delay: 0.25s;
                border-left: none;
                border-right: none;
                height: 150%;
                width: 100%;
            }
        }
        &:hover, &:active {
            .corner-border {
                transition-delay: 0.5s;
                opacity: 0;
            }
            .side-border {
                opacity: 1;
                &::after, &::before {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.expand {
            .corner-border {
                transition: all 0.2s;
                transition-delay: none;
            }
            &:hover, &:active {
                .corner-border {
                    opacity: 1;
                    scale: 1.2;
                }
                .side-border {
                    display: none;
                }
            }
        }
        &.ease {
            transition: color 0.25s;
            transition-delay: 0.15s;

            .corner-border {
                &::before {
                    transition: all 0.25s, opacity 0.5s;
                    transition-delay: 0, 0.5s;
                }
            }
            .side-border {
            }
            &:hover, &:active {

                .corner-border {
                    &::after {
                        transition: all 0.25s, opacity 0.5s;
                        transition-delay: 0, 0.5s;
                        opacity: 0;
                    }
                } 
                .side-border {
                }
            }
        }
        &_delete:hover {
            --background-color: rgb(250, 66, 66);
            --border-color: rgb(250, 66, 66);
            color: #fff;
        }
        &_admin:hover {
            --background-color: #000;
            --border-color: #000;
            color: #fff;
        }
    }
}