@import "multipurpose.scss";

.options {
    max-width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(68);
    padding: clamp(0px, 7.5%, 86px);
    margin-inline: auto;
}
.option {
    aspect-ratio: 4/1.75;
    width: clamp(140px, 100%, 220px);

    &:last-of-type {
        justify-self: flex-start;
    }

    &__container {
        font-size: inherit;
        background: none;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;

        .corner-border, .side-border {
            pointer-events: none;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .corner-border {
            transition: all 0.25s opacity 0;
            &::before, &::after {
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid #000;
            }
            &::before {
                border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%;
                border-color: #fff;
                z-index: 1;
            }
        }
        .side-border {
            transition: all 0.25s;
            opacity: 0;

            &::after, &::before {
                transition: inherit;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                border: 1px solid #000;
                translate: -50% -50%;
                z-index: 1;
            }
            &::after {
                transition-delay: 0.12s;
                border-top: none;
                border-bottom: none;
                height: 100%;
                width: 125%;
            }
            &::before {
                transition-delay: 0.25s;
                border-left: none;
                border-right: none;
                height: 150%;
                width: 100%;
            }
        }
        &:hover, &:active {
            .corner-border {
                transition-delay: 0.5s;
                opacity: 0;
            }
            .side-border {
                opacity: 1;
                &::after, &::before {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:is(button) {
            &:hover, &:active {
                .corner-border {
                    translate: all 0.25s;
                    transition-delay: 0s;
                    scale: 1.2;
                    opacity: 1;
                }
                .side-border {
                    display: none;
                }
            }
        }
        &_logout {
            transition: color 0.2s;

            .corner-border {
                transition: scale 0.25s;
                transition-delay: 0;
            }
            &:hover, &:active {
                transition-delay: 0.5s;
                color: var(--main-color);

                .corner-border {
                    transition: scale 0.25s;
                    transition-delay: 0;
                    scale: 0;
                } 
                .side-border {
                    transition: all 0.25s, background 0.2s;
                    transition-delay: 0s, 0.5s;
                    background: var(--orange-color);
                    scale: 0.8;
                    z-index: -1;
                }
            }
        }
        &_delete {
            &:hover, &:active {
                transition:  color 0.2s, background 0.2s;
                transition-delay: 0.5s, 0.5s;
                color: #fff;
                background: rgb(238, 63, 63);
            }
        }
        &_admin {
            transition: color 0.2s;

            .corner-border {
                transition: scale 0.25s;
                transition-delay: 0;
            }
            &:hover, &:active {
                transition-delay: 0.5s;
                color: var(--main-color);
                
                .corner-border {
                    transition: scale 0.25s;
                    transition-delay: 0;
                    scale: 0;
                } 
                .side-border {
                    transition: all 0.25s, background 0.2s;
                    transition-delay: 0s, 0.5s;
                    background: var(--secondary-color);
                    scale: 0.8;
                    z-index: -1;
                }
            }
        }
    }
}